@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #d5d4d000;
}

#container {
  width: 100%;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  /*Background photo by Dom J from Pexels
*/
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/297385/pexels-photo-297385.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}

#hero input[type="email"] {
  width: 80%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25em;
  font-size: inherit;
  font-family: inherit;
  color: gray;
  border: 1px solid gray;
}

#hero input[type="submit"] {
  cursor: pointer;

  max-width: 200px;
  margin-top: 15px;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #a7a7a7;
  border: 0;
  font-size: 1.2em;
  border-radius: 10px;
  outline: none;
}

#hero input[type="submit"]:hover {
  background-color: #ddd;
}
#hero input[type="submit"]:active {
  background-color: #008cba;
  color: white;
}

/*STYLE FEATURES SECTION*/
#features {
  padding: 90px 0;
  background-color: #ddd;
}
.features-container {
  max-width: 95vw;
  margin: 0 auto;
}
.features-item {
  text-align: center;
  margin: 20px 0;
}

.features-item .fa {
  font-size: 60px;
  color: #191716;
}

.features-item h1 {
  font-size: 30px;
  letter-spacing: 2px;
  margin: 30px 0;
  text-transform: uppercase;
}

.features-item p {
  width: 75%;
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  .features-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
  }
}
@media screen and (min-width: 992px) {
  .features-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
  }
}
/*END OF STYLE FEATURES*/

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
}

#how-it-works {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  background-color: #ddddddb3;
}

#how-it-works > iframe {
  max-width: 560px;
  width: 100%;
}

#pricing {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ddd3;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.product > .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}
.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
}

li {
  list-style: none;
}
.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #a7a7a7;
  font-weight: 400;
}

.product > button:hover {
  background-color: #ddd;
}
.product > button:active {
  color: white;
  background-color: #008cba;
}

footer {
  padding-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}
footer a {
  color: #000;
  text-decoration: none;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

/*HEADER*/
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.75);
}

/*END OF HEADER*/

/*NAV*/

#header-img {
  width: 100%;
}

nav ul {
  list-style-type: none;
  background: #f3f3f3;
}

nav ul li a {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 17px;
  padding: 9px;
  color: #667;
}

nav ul li a:hover {
  background-color: #ddd;
}
nav ul li a:active {
  color: white;
  background-color: #008cba;
}

.logo {
  display: none;
}

.logo:hover {
  background-color: #dddddd80;
}

@media screen and (min-width: 576px) {
  nav ul {
    display: flex;
    height: 3.5em;
    justify-content: space-between;
    align-items: center;
  }
  nav ul li {
    flex: 0.1 0 auto;
  }
  .logo {
    display: block;
    text-align: left;
    width: 3em;
    height: 3.5em;
  }
}
/*END OF NAV*/
